/*
Theme Name: ${1}
Theme URI: http://${2:theme-website.com}
Description: ${3}
Version: ${4}
Author: ${5}
Author URI: http://${6:$2}
Tags: ${7}
*/

/* -------------------------------------------------------------- start
  HTML5 Boilerplate - http://html5boilerplate.com/ 
  Reset, font normalization and some base styles.
----------------------------------------------------------------- end */
  @import "reset.css";
  @import "base.css";
/* -------------------------------------------------------------- start
  Formalize CSS - http://sonspring.com/journal/formalize-css 
----------------------------------------------------------------- end */
  @import "formalize.css";
/* -------------------------------------------------------------- start
  Primary Styles 
----------------------------------------------------------------- end */
  @import "typography.css";
  @import "layout.css";
  @import "enrichment.css";
/* -------------------------------------------------------------- start
  Media Queries
    from HTML5 Boilerplate - http://html5boilerplate.com/ 
  These follow after primary styles so they will successfully override.
----------------------------------------------------------------- end */
  @import "media.css";
