${1:#image} {width: ${2:0}px; height: ${3:0}px; position: relative}
$1 span {background: url(${4}); position: absolute; height: 100%; width: 100%}
$1 span {display: block; width: 0; height: 0; overflow: hidden}
