body {font-family: "Lucida Sans Unicode", "Lucida Grande", "Helvetica Neue", Helvetica, Arial, "DejaVu Sans Condensed", FreeSans, sans-serif;}
strong, em, b, i {font-family: "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", Geneva, Verdana, "DejaVu Sans", sans-serif}
